<!-- <h1>Profile</h1>

<% form_for @current_artist do |f| %>

<div>First Name: <% f.text_field :first_name %></div>
<div>Last Name: <% f.text_field :last_name %></div>

<%= f.submit "Save Settings" %>

<% end %> -->