<div class="row">
  <div class="span3">
    <h1>Artistes</h1>
    <ul>
      <% @artists.each do |artist| %>
        <li>
          <%=  link_to(artist_path(artist), remote: true) do %>
            <%= artist.first_name %> <span class="last-name"> <%= artist.last_name %> </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="span9 artist-content">
    <p> test </p>
  </div>
</div>

