<div class="row">
  <div class="span5">
    <h2>Artistes</h2>
    <ul>
      <% @artists.each do |artist| %>
        <li>
          <%=  link_to(artist_path(artist), remote: true) do %>
            <%= artist.first_name %> <span class="last-name"> <%= artist.last_name %> </span>
          <% end %>
        </li>
      <% end %>
    </ul>
    <p class="appui">
    Cliquez sur le nom d'un artiste pour voir ses oeuvre(s).
     </p>
    <p class="crv">
      Avec le généreux soutien du Centre Richelieu-Vanier
    </p>
    <p class="main-text appui">
      Le Centre d’artistes Voix Visuelle remercie </br>
      <a href="http://voixvisuelle.ca/fr/nos-partenaires/" target="blank">nos bailleurs de fond

 <!--      Patrimoine canadien, la Ville d’Ottawa, le Conseil des arts de l'Ontario, les Caisses populaires d'Ottawa, l’AGAVF, et La Cité collégiale de leur appui. -->
    </p>
<!--    image_tag( logos.jpg )  -->
  </div>
  <div class="span7 artist-content">
  </div>
</div>

