// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.last-name{font-weight: bold}

 .vqn-ui {
    @media (max-width:995px) { background: image-url("vvHeader725.jpg") top center no-repeat;
      padding-top: 67px;
    }

    @media (min-width:995px) { background: image-url("vvHeader940.jpg") top center no-repeat;
      padding-top: 87px;
    }
    @media (min-width:1215px) { background: image-url("vvHeader1170.jpg")  top center no-repeat;
      padding-top: 107px;}
  }
    .black-bar {background-color: #000;
      @media (max-width:995px) {     min-height:30px; }
      @media (min-width:995px) {     min-height:35px; }
      @media (min-width:1215px) {    min-height:40px;}
  }


  .label-center {

  text-align: center;
  max-width: 500px;
}


  .second-piece{
  padding-top: 20px;
  }

  .artist-content{
    display: none;
  }

  .crv {
    padding-top: 10px;
    color: #707070;
    font-size: 16px;
    // font-weight: bold;

  }

  .main-text {
    color: #707070;
    font-size: 16px;
    width: 510px;
  }

  .main-text li {
    font-size: 16px;
    line-height: 1.3;
    }

  .appui {
     max-width: 400px;
  }

  .intro{
    max-width: 1000px;
    color: #777;
  }
#site-title {
float: left;
margin: 0 0 0 0;
width: 400px;
font-size: 0px;
line-height: 68px;
background-image: image-url("VVlogo1.jpg");
background-repeat: no-repeat;
text-indent: 68px;
}
#site-description {
clear: right;
float: right;
font-size: 16px;
font-style: none;
margin: 8px 0 14px 0;
padding-top: 20px;
      @media (max-width:995px) {  margin: 5px 0 5px 0;   width: 250px; }
      @media (min-width:995px) {     width: 275px; }
      @media (min-width:1215px) {    width: 275px;}
}
