<!DOCTYPE html>
<html>
<head>
  <title>Vanier Quartier Numérique -- Voix Visuelle</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="description" content="Vanier Quartier Numérique, une galerie en ligne de Voix Visuelle, de l'exposition ayant lieu au Centre Richelieu-Vanier, du 13 juin au 13 décembre 2013">
  <meta name="author" content="Le Centre d'artistes Voix Visuelle; Paula Franzini">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="vqn-ui">
</div>
<div class="navbar navbar-inverse">
 <div class="navbar-inner">
    <ul class="nav">
      <li><a href="http://voixvisuelle.ca/">RETOURNEZ AU SITE PRINCIPALE</a></li>
    </ul>
   </div>
  </div>
<div class="container">
<div class="intro">
<h1> Vanier Quartier Numérique:</h1>
<h3>  une exposition sur écran numérique organisée par le Centre d'artistes Voix Visuelle, ayant lieu au Centre Richelieu-Vanier, Ottawa, ON, du 13 juin au 13 décembre 2013
</h3>
</div>
<%= yield %>
  </div>

</body>
</html>
