<!DOCTYPE html>
<html>
<head>
  <title>Gallery</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="vqn-ui">
</div>
<div class="navbar navbar-inverse">
 <div class="navbar-inner">
    <ul class="nav">
      <li><a href="http://voixvisuelle.ca/">RETOURNEZ AU SITE PRINCIPALE</a></li>
    </ul>
   </div>
  </div>
<div class="container">
<%= yield %>
  </div>

</body>
</html>
